@page
@model InventaryApp.Frontend.Pages.Role.IndexModel
@{
    ViewBag.Title = "Rol";
}
<div class="p-3">
    <div class="bg-gradient-gray-dark rounded shadow p-3 text-capitalize text-center">
        Rol
    </div>

    <table>
        <tr>
            <td></td>
        </tr>
    </table>
</div>